@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ancho de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 9px;
}

/* Estilo del fondo de la barra de desplazamiento con opacidad */
::-webkit-scrollbar-track {
  background-color:transparent;
 
}

/* Estilo del thumb (la parte móvil de la barra de desplazamiento) con opacidad */
::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.2); /* Color con opacidad */

}

/* Cambio de color del thumb cuando está en hover con opacidad */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(85, 85, 85, 0.9); /* Color con opacidad */
}

.isActive{
    color: #fff;
    background-color: rgba(0, 255, 0, 0.1);;
}
.fondo{

  
    background: linear-gradient(to top, #00063f, #000000);;
    background-size:auto;
    background-position: center center;
    background-repeat: no-repeat;
    /* Añade estas propiedades para mejorar la calidad */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* Establece un color de fondo con opacidad */
    background-color: rgba(255, 255, 255, 0.5); /* Color blanco con 50% de opacidad */
    /* Opcional: Añade otros estilos de formato */
    font-family: 'Arial', sans-serif;
    
   
}


.fondo-cont{
    /* Establece el contenedor con un fondo semitransparente */
    background-color: rgba(0, 0, 0, 0.6); /* Color negro con 70% de opacidad */
    /* Otras propiedades de estilo del contenedor */
    
    color: white;
  }

.fondo-cont-100{
    background-color: rgba(0, 0, 0, 0.8); /* Color negro con 70% de opacidad */
    /* Otras propiedades de estilo del contenedor */

    color: white;
}


.fondo-cont-200{
    background-color: rgba(0, 0, 0, 1); /* Color negro con 70% de opacidad */
    /* Otras propiedades de estilo del contenedor */

    color: white;
}

.shadow-y{
  text-shadow: 5px 0px 5px #f7bb16;
}

.page-enter {
  transform: scale(0.5);
  opacity: 0;
}

.page-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.page-exit {
  transform: scale(1);
  opacity: 1;
}

.page-exit-active {
  transform: scale(0.5);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 400ms ease-in-out;
}

  .h95{
    height: 95vh;
  }

  .animation-1{
    animation: spin 500ms linear 1;
  }

  @keyframes spin {
    from {
      transform: translateX(-150px);
      
      opacity: 0;
    }
    to {
      transform:translate(0px);
      opacity: 1;
    }
  }


  @media screen and (max-width: 767px) {
    .h95 {
      height: max-content
    }
    .fondo-cont-200{
      background-color:  rgba(0, 0, 0, 0.8);
    }
     
  
  }


  @keyframes typing {
   0% { width: 9% }
   
    100% { width: 82% }
  }

  
  @keyframes titilar {
    from { opacity: 0; }
    to { opacity: 1; }
  }



  .text-container  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding:1px;
   
  }

  .text{
    margin: auto;
    letter-spacing: 1px;
    display: inline-block;
    animation: typing 1.5s steps(10)  ; /* Duración de la animación y cantidad de pasos */
    text-wrap: nowrap;
    overflow: hidden;
    position: relative;
    padding: 3px;
  }

  .text::before{
    content: "";
    width: 1.5px;
    height: 80%;
    position: absolute;
    background-color: #aaa;
    right: 0;
    animation: titilar .6s alternate infinite;
    
  }